<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="" href="/css/index.css">
</head>
<body ng-app="app" ng-controller="mainCtrl" ng-cloak>
    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ng-click="goLogin($event)" ui-sref="message">Message Center</a></li>
                <!--<li><a ui-sref="login">Login</a></li>-->
            </ul>
            <span class="logout" ng-click="logout($event)">log out</span>
        </nav>
        <div ui-view class="view-content"></div>
    </div>
</body>

<script src="angular/angular.js"></script>
<script src="angular-resource/angular-resource.js"></script>
<script src="angular-ui-router/release/angular-ui-router.js"></script>
<script src="oclazyload/dist/oclazyload.js"></script>
<script src="js/index.js"></script>
</html>